@import "tailwindcss";

.nav-headding{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: .5em;
}

#headding-links{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}
li{
    padding: 1em;
}
._body{
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
}

.all_items{
    display: flex;
    gap:2em;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
.individual_items{
    align-self: flex-start;
    max-height: 25vw;
    max-width: 25vw;
}

.second_level_diaply_menu{
    display:grid;
    grid-template-columns: 25vw 75vw;

}
/* .second_level_diaply_menu{
    position:sticky;
    top:0;
} */
/* .artist-content{
    content on the right side after clicking arist
} */
.second-level-content-display{
    display: grid;
    grid-template-columns: auto auto auto;
}
.second-level-content-display div{
    padding:20px;
    margin:20px;
}